doctype html
html
 head
  title Express Authentication
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
 // load bootstrap css
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
 // load fontawesome
  style.
   body { padding-top: 50px; }
   img { width: 140px; height: 140px; }
   .fa-sign-out { float: right; }