doctype html
html
 head
  title Express Authentication
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
 // load bootstrap css
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
 // load fontawesome
  style.
   body { padding-top: 50px; }
   img { width: 140px; height: 140px; }
   .fa-sign-out { float: right; }
 body
  .col-sm-8.col-sm-offset-2
  .jumbotron.text-center
   h1 Express Authentication
   p.lead A simple authentication app built with express, node & passport.
   a.btn.btn-default(href='/login')
    span.fa.fa-sign-in
     |  Login
   a.btn.btn-default(href='/signup')
    span.fa.fa-user
     |  Signup

