html
  head
    title Express Authentication
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    // load fontawesome
    style.
      body { padding-top: 50px; }
      img { width: 140px; height: 140px; }
      .fa-sign-out { float: right; }
  body
    .col-sm-8.col-sm-offset-2
      .jumbotron.text-center
        h1
          span.fa.fa-sign-in
          |  Login
        | if message != null
        .alert-danger #{message}
        |
        form(action='/login', method='post')
          .form-group
            label Email
            input.form-control(type='text', name='email')
          .form-group
            label Password
            input.form-control(type='password', name='password')
          div
            input.form-control(type='submit', value='Submit')
      hr
      span.fa.fa-sign-in
        | Don't have an account?
        a(href='/signup')  Signup
      p
        | Or go
        a(href='/') home
        | .