$bp-small: 320px !default;
$bp-medium: 680px !default;
$bp-medium-high: 960px !default;
$bp-large: 1200px !default;
$bp-xlarge: 1440px !default;
$bp-homepage-max: 2000px !default;

$margin-small: 20px !default;
$margin-medium: 62px !default;
$margin-medium-high: 62px !default;
$margin-large: 80px !default;

$gutter-small: 14px !default;
$gutter-medium: 16px !default;
$gutter-medium-high: 24px !default;
$gutter-large: 32px !default;