.BtnWrapper {
    width: 90%;
    margin-top: 15px;
}

.Btn {
    align-items: center;
    background: #004990;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}

.Btn-google {
    background: red;
    width: 90%;
    text-decoration: none;
}

.Btn-default {
    background: white;
    color: black;
    border: 1px solid;
}