.dashBoard {
    display: flex;
    height: 100vh;
    padding-top: 80px;
    width: 100%;

    @include breakpoint(medium-only) {
        flex-direction: column;
    }

    @include breakpoint(small-only) {
        flex-direction: column;
    }
}

.dashBoard-menu {
    width: 20%;
    @include breakpoint(medium-only) {
        width: 100%;
    }

    @include breakpoint(small-only) {
        width: 100%;
    }
}

.dashBoard-select {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 100%;
}

.chartSelect {
  background: white;
  width: 20%;
}

.dashBoard-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 25px;
    width: 80%;

    @include breakpoint(medium-only) {
        width: 100%;
    }

    @include breakpoint(small-only) {
        width: 100%;
    }
}