.header {
    background: #007CC2;
    border-bottom: 1px solid white;
    display: flex;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-content-logo {
    height: 100%;
    width: 80%;
}

.header-content-menu {
    align-items: center;
    display: flex;
    height: 100%;
    width: 20%;
}

.header-menu {
    align-items: center;
    background: white;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    position: absolute;
    right: 2%;
    width: 50px;
}

.header-menu-imagen {
    width: 50px;
    border-radius: 25px;
}

.header-menu-content {
    background: white;
    border: 1px solid;
    height: 80px;
    position: absolute;
    right: 4px;
    top: 65px;
    width: 131px;
}

.header-menu-option {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 100%;
}

.header-content-user {
    padding-top: 10px;
    color: white;
    width: 65%;
}

.header-content-welcome {
    text-align: right;
    font-weight: bold;
}

.header-content-name {
    text-align: right;
}

.separation {
    border-bottom: 1px solid;
}