.componentInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.input-title {
    margin-bottom: 10px;
}

.input {
    font-size: 16px;
    height: 40px;
    padding-left: 20px;
}