.log-in {
  align-items: center;
  background-color: #007CC2;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.log-in-wrap {
  align-items: center;
  background: #FFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 30%;
}

.log-in-other {
  border-top: 1px solid;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 90%;
}

.log-in-title-other {
  background: white;
  margin-top: -10px;
  text-align: center;
  width: 70px;
}

.Btn {
  .log-in-google {
    background: #004990;
  }
}

.log-in-register {
  flex-direction: column;
  align-items: center;
  .BtnWrapper {
    width: 100%;
  }
}

.Btn-inactive {
  opacity: 0.2;
  cursor: no-drop !important;
}

.log-in-form {
  width: 90%;
}

.log-in-inputFail {
  border-color: red;
}

.log-in-error-input {
  font-size: 13px;
  color: red;
  font-weight: bold;
}