.menu {
    background: #007CC2;
    border-right: 1px solid;
    color: white;
    height: calc(100vh + 25px);
    width: 99%;

    @include breakpoint(medium-only) {
        display: flex;
        height: auto;
        width: 100%;
    }

    @include breakpoint(small-only) {
        display: flex;
        height: auto;
        width: 100%;
    }
}

.menu-option {
    align-items: center;
    border-bottom: 1px solid;
    cursor: pointer;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%;
}

.menu-option:first-child {
    @include breakpoint(medium-only) {
        border-right: 1px solid white;
    }
    @include breakpoint(small-only) {
        border-right: 1px solid white;
    }
}

.selected {
    span {
        border-bottom: 3px solid white;
    }
}