.not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.not-found-text-expredion {
  color: #007CC2;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  z-index: 999;
}

.not-found-img {
  margin-bottom: 60px;
  margin-top: 60px;
}

.not-found-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  z-index: 999;
}

.not-found-bar {
  background: #007CC2;
  bottom: 0px;
  height: 210px;
  position: absolute;
  width: 100%;
}