.register {
    align-items: center;
    background-color: #007CC2;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.register-wrap {
    align-items: center;
    background: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    width: 30%;
}

.register-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .BtnWrapper {
        margin-bottom: 15px;
    }
}

.register-form {
  width: 90%;
}