h2 {
    font-size:36px;
    margin:0 0 10px 0;
}
p {
    margin:0 0 10px 0;
}

table.userGoogle,
table.user,
table.rwd_auto {
    border:1px solid #ccc;
    width:90%;
    margin:0 0 50px 0
}

.userGoogle th,
.user th,
.rwd_auto th {
    background:#ccc;
    padding:5px;
    text-align:center;
}
.userGoogle td,
.user td,
.rwd_auto td {
    border-bottom:1px solid #ccc;
    padding:5px;text-align:center
}
.userGoogle tr:last-child td,
.user tr:last-child td,
.rwd_auto tr:last-child td{
    border:0
}
    
.rwd {
    width:100%;
    overflow:auto;
}
.rwd table
.rwd_auto {
    width:auto;
    min-width:100%
}
.rwd_auto th,
.rwd_auto td {
    white-space: nowrap;
}
        
@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px) {
    table.userGoogle,
    .userGoogle thead,
    .userGoogle tbody,
    .userGoogle th,
    .userGoogle td,
    .userGoogle tr {
        display: block;
    }

    table.user,
    .user thead,
    .user tbody,
    .user th,
    .user td,
    .user tr {
        display: block;
    }
    
    .userGoogle thead tr,
    .user thead tr {
        left: -9999px;
        position: absolute;
        top: -9999px;
    }
    
    .userGoogle tr,
    .user tr {
        border: 1px solid #ccc;
        height: 150px;
    }
    
    .userGoogle td,
    .user td {
        border-bottom: 1px solid #ccc;
        border: none;
        padding-left: 30%;
        position: relative;
        text-align:left
    }
    
    .userGoogle td:before,
    .user td:before {
        height: 25px;
        left: 6px;
        padding-right: 10px;
        position: absolute;
        top: 6px;
        white-space: nowrap;
        width: 25%;
    }
    
    .userGoogle td:nth-of-type(1):before {
        background: #ccc;
        content: "id";
        text-align: center;
    }
    .userGoogle td:nth-of-type(2):before {
        background: #ccc;
        content: "Nombre";
        text-align: center;
    }
    .userGoogle td:nth-of-type(3):before {
        background: #ccc;
        content: "Correo";
        text-align: center;
    }
    .userGoogle td:nth-of-type(4):before {
        background: #ccc;
        content: "googleId";
        text-align: center;
    }
    .userGoogle td:nth-of-type(5):before {
        background: #ccc;
        content: "userType";
        text-align: center;
    }

    .user td:nth-of-type(1):before {
        background: #ccc;
        content: "id";
        text-align: center;
    }
    .user td:nth-of-type(2):before {
        background: #ccc;
        content: "Nombre";
        text-align: center;
    }
    .user td:nth-of-type(3):before {
        background: #ccc;
        content: "Correo";
        text-align: center;
    }
    .user td:nth-of-type(4):before {
        background: #ccc;
        content: "Genero";
        text-align: center;
    }
    .user td:nth-of-type(5):before {
        background: #ccc;
        content: "userType";
        text-align: center;
    }
    
    .descarto {
        display:none;
    }
    .fontsize {
        font-size:10px
    }
}

@include breakpoint(medium-only) {
    .descarto {
        display:none;
    }
    .fontsize {
        font-size:10px
    }
}

@include breakpoint(small-only) {
    background: blue;
    .descarto {
        display:none;
    }
}
